.header {
  background: hsl(0, 0%, 70%);
  display: flex;
  justify-content: space-evenly;
}

.hero {
  margin: 5px;
  padding: 5px;
  width: 30%;
}

.link {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}