.header {
  background: hsl(0, 0%, 70%);
  display: flex;
  justify-content: space-evenly;
  font-size: .7em;
}

.hero {
  margin: 5px;
  padding: 5px;
  width: 30%;
  font-weight: bold;
}

.link {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.main {
  width: 80%;
  margin: 30px auto;
  background: white;
  min-height: 60vh;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
}

.main h1 {
  margin: 0;
}