.header {
  background: hsl(300, 50%, 70%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: .7em;
  min-height: 5em;
  border-bottom: 5px solid hsl(300, 100%, 40%);
  border-top: 5px solid hsl(300, 100%, 40%);
}

.hero {
  font-weight: bold;
}

.link {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.main {
  width: 80%;
  margin: 30px auto;
  background: hsl(300, 100%, 90%);
  min-height: 60vh;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.5);
}

.main h1 {
  margin: 0;
}