.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItems {
  margin: 5px;
  padding: 5px;
  border-right: 1px solid black;
  padding-right: 10px;
}

.navItems:last-child {
  border-right: none;
  padding-right: 5px;
}

.navLinks {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}